:root {
  --c-bg: #000000;
  --c-panel-bg: rgba(0, 0, 0, 0.78);
  --c-link: #8ab4ff;
  --c-text-primary: rgba(255, 255, 255, 0.86);
  --c-text-secondary: rgba(255, 255, 255, 0.72);

  --c-axis-x: #5A9CB5;
  --c-axis-y: #FACE68;
  --c-axis-z: #FA6868;
  --c-axis-tick: #FAAC68;
  --c-axis-plane: #F7F6D3;

  --c-point-pos: #BC6FF1;
  --c-point-neg: #892CDC;
  --c-point-zero: #c480e8;
  --c-point-hover: #FFE45C;
  --c-point-clicked: #FF9F1C;
  --c-trajectory: #BC6FF1;
}


